<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.andyland.butterknifedemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.NonBindingActivity">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c84cd39a872b95498a2c8b042fd6a21b3bb5466" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>